.TeacherSixContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TeacherSixWrapper {
  border-radius: 30px;
  width: 95%;
  min-height: 120vh;
  background-color: #5f2a5d;
  background-image: url("../../../assets/webp/Map.webp");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.joinDiv {
  margin-left: 50px;
  h1 {
    font-family: Sora;
    font-size: 48px;
    line-height: 56px;
    color: #ffffff;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 55px;
    width: 195px;
    background-color: #ff885e;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 350ms;

    span {
      margin-right: 10px;
      font-family: Poppins;
    }
  }

  button:hover {
    opacity: 0.85;
    transition: all 350ms;
    transform: scale(0.95);
  }
}

.percentDiv {
  margin-right: 70px;
  .ninityTwo {
    font-family: Sora;
    display: flex;
    align-items: center;
    color: #ffffff;
    h1 {
      margin-right: 20px;
    }
  }
}

.IconHolder {
  display: flex;
  justify-content: center;
  align-items: center;

  .Icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff885e;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    margin-right: 10px;
    .Icon {
      color: white;
      font-size: 20px;
    }
  }
}
